#logo {
    background: url(../images/logo.png) 0 0 no-repeat;
    width: 292px;
    height: 124px;
    display: block;
    margin: 10px auto;
    text-indent: -9999px;
    background-size: cover;
}

#logo-hombre {
    background: url(../images/tipito.png) 0 0 no-repeat;
    width: 292px;
    height: 124px;
    display: block;
    margin: 10px auto;
    text-indent: -9999px;
    background-size: cover;
}
/* autocomplete styles */
.ui-helper-hidden-accessible {
    display: none !important;
    visibility: hidden;
}

.ui-autocomplete {
    list-style: none;
    padding: 10px 0;
    background: #FFF;
    width: 90% !important;
}

    .ui-autocomplete li {
        display: block;
        padding: 5px 0;
    }

        .ui-autocomplete li a {
            color: #333;
        }

            .ui-autocomplete li a:hover {
                text-decoration: none;
            }

            .ui-autocomplete li a span {
                font-weight: bold;
            }

#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    text-align: center;
    z-index: 10;
    display: none;
}

    #loader img {
        margin: 60% auto;
    }

.typeahead {
    background-color: #fff;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-dropdown-menu {
    width: 300px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 18px 20px;
    font-size: 18px;
    line-height: 24px;
    border-bottom: 1px solid #EEE;
}

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion p {
        margin: 0;
    }

body {
    background: #FFF;
    margin: 0;
    padding: 0;
}

.navSearchBar {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 70px;
    width: 100%;
    background-color: #27903a;
    z-index: 2000;
}

    .navSearchBar .navButtonR {
        position: absolute;
        right: 20px;
        top: 36px;
        height: 16px;
    }

.navSearchBar2 {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 117px;
    width: 100%;
    background-color: #27903a;
    z-index: 2000;
}

.navSearch {
    position: absolute;
    margin-left: 14.5%;
    width: 70%;
    margin-top: 30px;
    font-weight: 100;
    border: none;
    font-size: 1em;
}

.navSearch2 {
    position: absolute;
    margin-left: 5%;
    width: 90%;
    margin-top: 75px;
    font-weight: 100;
    border: none;
    font-size: 1em;
}

.navBar {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 60px;
    width: 100%;
    background-color: #27903a;
    z-index: 2000;
}

    .navBar .textNavBar {
        width: 100%;
        color: #000;
        font-size: 20px;
        position: absolute;
        bottom: 11px;
        text-align: center;
        font-family: 'Helvetica Neue';
        font-weight: bold;
        letter-spacing: -1px;
        text-shadow: 0 -1px 0 rgba(255,255,255,0.2);
    }

.backButton {
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: #a78c0a;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}

.textoGeneral {
    font-style: bold;
    font-size: 25px;
}

.footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: rgba(59,59,59,0.9);
    box-shadow: 0px -1px 10px rgba(0,0,0,0.9);
    color: #FFF;
    z-index: 1;
    display: -webkit-box;
}

    .footer * {
        text-align: center;
        padding: 15px 0;
        box-sizing: border-box;
        -webkit-box-flex: 1;
        border-left: 1px solid #888;
    }

.spaceNavBar {
    width: 100%;
    height: 70px;
}

.spaceNavBar2 {
    width: 100%;
    height: 117px;
}

.spaceFooter {
    width: 100%;
    margin-top: 140px;
}

.boton {
    display: inline-block;
    position: relative;
    color: #888;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}

.celda {
}

    .celda h2 {
        margin: 0;
        font-size: 20px;
    }

    .celda p {
        color: #999;
        margin: 0;
        font-size: 14px;
    }

.flechaCelda {
    position: absolute;
    right: 20px;
    top: 50px;
}

.searchbar {
    height: 40px;
    width: 100%;
    background-color: #27903a;
    z-index: 1000;
}

.search {
    position: absolute;
    margin-left: 5%;
    width: 90%;
    margin-top: 6px;
    font-weight: 100;
    font-size: 1em;
}

.appBody {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.seleccione {
    margin-top: 0px;
    margin-left: 15px;
    font-size: 25px;
}

.subcomunas {
    font-size: 12px;
}

.imgComunas {
    width: 100%;
}

.listado .listado-item {
    padding: 12px 80px 12px 12px;
    color: #999;
    border-bottom: 1px solid #EEE;
    font-size: 13px;
    position: relative;
}

    .listado .listado-item h2 {
        font-size: 16px;
        color: #000;
        margin: 0;
    }

    .listado .listado-item .icon-chevron-right {
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 30px;
    }

.distancia {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 12px;
    background: #FFF;
    color: #007aff !important;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #007aff;
    height: 25px;
    width: 60px;
    text-align: center;
    line-height: 25px;
    margin-top: -13px;
}

    .distancia a {
        color: #007aff !important;
    }

    .distancia.location {
        border: none;
    }

        .distancia.location a {
            color: #2f8ed0;
        }

    .distancia a {
        text-decoration: none;
    }

.go-right {
    top: 17px;
    right: 17px;
    position: absolute;
}

#search {
    border: none;
    border-radius: 10px;
}

.empty-data {
    text-align: center;
    color: #777;
    font-weight: bold;
    margin: 20px;
}

    .empty-data i {
        display: block;
        margin: 20px auto;
        color: #ddd;
        font-size: 100px;
    }

.faces {
    font-size: 90px;
    margin: auto;
    text-align: center;
}
.positive {
    color: #008000;
}
.negative {
    color:red;
}
